@import "./Variables.sass"
html, body, #root, .App
  height: 100%
.App
  background: #eeeeee
  // display: flex
  // .content
  //   align-self: center


@media screen and (max-width: 560px)
  .App
    padding: .5rem
