.cart-page {
  background: #f7f7f7;
  padding: 10px 50px;
}

.cart-list li {
  list-style-type: none;
}

.cart-title {
  text-align: center;
  margin: 2rem 0;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*cart page view */
.cart-page-img-wrap {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.media {
  align-items: center;
}

.product-count {
  font-weight: bold;
  margin: 1rem;
  line-height: 2.5;
}

.remove-one.button.is-white {
  padding: 0;
}

.button.is-primary.button-large.is-pulled-right {
  min-width: 240px;
}


.subtitle.is-6.price {
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
}

i.fa.fa-eur {
  font-size: 15px;
  margin-right: 5px;
}
