.content {
  padding: 3rem 0 0 0; }

.card.individual-product-view {
  display: flex;
  margin-top: 4rem; }
  .card.individual-product-view .product-title {
    font-weight: 700; }
  .card.individual-product-view .description {
    font-weight: 200;
    color: #666666;
    line-height: 1.61em;
    padding: 0 2rem;
    text-align: center; }

.image.show-page {
  margin: 0; }

.card-content.ind-prod-view {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  padding: 2rem;
  align-items: center; }

.product-price {
  color: #262626; }
  .product-price .underline {
    background: #4d4d4d;
    border-radius: 0;
    margin-top: 1rem;
    width: 2rem;
    height: 4px;
    margin: 1rem .9rem;
    display: block; }

.tags {
  margin: auto; }
  .tags .tag {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background: #e6e6e6; }
    .tags .tag:hover {
      background: #cdcdcd;
      cursor: pointer; }

.addToCart {
  margin: 1rem 0;
  width: 200px; }

.choose-wrap {
  margin: 1rem; }
  .choose-wrap .subtitle {
    font-size: .8rem;
    text-transform: uppercase; }

button.addTocart.button.is-primary.is-outlined {
  height: 100%; }

button.out-of-stock-btn {
  margin-top: 20px; }

.added-info-footer {
  width: 100%;
  padding-bottom: 1rem; }
  .added-info-footer .links {
    width: 100%;
    border: none;
    display: flex;
    background: #f2f2f2;
    margin-left: 0;
    display: flex;
    justify-content: space-around; }

@media only screen and (min-width: 1280px) {
  .individual-product-view {
    display: flex;
    flex-direction: row;
    padding: 0; }
  .primary-image-wrapper {
    width: 50%; }
  .addToCart {
    height: 3.25em; } }

@media only screen and (max-width: 800px) {
  .card.individual-product-view {
    flex-wrap: wrap; }
  .card-content.ind-prod-view {
    flex-basis: 100%;
    margin-top: 1rem;
    padding: 5rem; } }

@media only screen and (max-width: 700px) {
  .individual-product-view {
    display: block;
    margin-top: 5rem; }
  .image-gallery-thumbnails-container {
    display: flex;
    justify-content: center; }
  .card-content.ind-prod-view {
    width: 100%;
    margin-top: 1rem;
    background: white;
    padding: 2rem 1rem; }
    .card-content.ind-prod-view p {
      text-align: center; }
  .addToCart {
    padding: .5rem 0 2rem 0;
    font-size: 1.1rem; } }
