.item-content {
  display: flex;
  border-bottom: 2px solid rgba(158, 158, 158, 0.32);
  /*a bit of space between each item*/
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.product-thumb {
  width: 140px;
  height: 100px;
}

.item-info {
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.buy-item .price {
  text-align: end;
}

.price {
  margin: .7rem 0;
}

.icon .fa {
  font-size: 18px;
}
