li.product.column.is-one-third {
  margin-top: 0; }

.media-content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.column {
  flex-direction: column; }

/*individual-product-view styles*/
.individual-product-view {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 2rem 4;
  flex-direction: column; }

.primary-image-wrapper, .secondary-images-wrapper {
  width: 100%; }

.secondary-images-wrapper {
  display: flex;
  justify-content: space-around; }

.info-product-wrapper {
  display: flex;
  /*flex-flow: row wrap*/
  /*justify-content: center*/
  /*align-items: center*/
  justify-content: space-between; }

.card-content {
  width: 100%; }

.notification.out-of-stock {
  position: absolute;
  bottom: 0%;
  width: 100%;
  background: rgba(165, 206, 241, 0.77);
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0px;
  z-index: 2; }

.product-name {
  margin-right: 2rem;
  align-self: flex-end;
  margin-bottom: 0px; }

.product-price {
  margin: 2rem 0;
  align-self: flex-end;
  text-align: center; }

.addToCart {
  width: 60%;
  margin-top: 3rem;
  align-self: center;
  height: 3rem;
  font-size: 1.4rem; }

@media only screen and (min-width: 1280px) {
  .individual-product-view {
    display: flex;
    flex-direction: row; }
  .primary-image-wrapper {
    width: 50%; }
  .secondary-images-wrapper {
    width: 50%; } }
