ul.products.columns {
  margin: 0;
  flex-flow: row wrap;
}

ul li {
  list-style-type: none;
}

/*spinner showing off on loading*/
.sk-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.products-page {
  background: #f7f7f7;
  padding: 1rem;
  margin-top: 4.5rem;
}

.products-page h2 {
  margin-left: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 978px) {
  .product.column.is-one-third.is-half-mobile {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .product.column.is-one-third.is-half-mobile {
    width: 100%;
  }
  .media-content {
    margin-left: 0;
  }
}

@media screen and (max-width: 560px) {
  .products-page {
    padding: .5rem;
  }
}
