ul.products.columns {
  margin: 0;
  flex-flow: row wrap; }

ul li {
  list-style-type: none; }

.products-page {
  margin-top: 6%;
  background: #eeeeee;
  padding-bottom: 5rem; }

.product.column.is-one-third.is-half-mobile {
  margin-top: 0; }

.card.product-card {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .card.product-card .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .card.product-card .card-image .image img {
      width: 300px;
      height: 300px; }
  .card.product-card .card-content {
    height: 135px;
    background: linear-gradient(to top, rgba(110, 231, 239, 0.23), rgba(109, 232, 255, 0.35));
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .card.product-card .card-content p {
      align-self: center; }

.card-content.prods-page-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .card-content.prods-page-view .prod-name {
    text-align: center; }

.choose-color-wrap {
  display: flex;
  flex-direction: column; }
  .choose-color-wrap .subtitle {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 900; }

/*spinner showing off on loading*/
.sk-spinner {
  position: absolute;
  top: 50%;
  left: 50%; }

@media screen and (max-width: 978px) {
  .product.column.is-one-third.is-half-mobile {
    width: 50%; } }

@media screen and (max-width: 700px) {
  .product.column.is-one-third.is-half-mobile {
    width: 100%; }
  .media-content {
    margin-left: 0; }
    .media-content p {
      text-align: center; } }

@media screen and (max-width: 560px) {
  .products-page {
    padding: .5rem; } }
