li.product.column.is-one-third {
  margin-top: 0;
}

.media-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  flex-direction: column;
}

/*individual-product-view styles*/

.individual-product-view {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 2rem 12rem;
  flex-direction: column;
}
.primary-image-wrapper, .secondary-images-wrapper {
  width: 100%;
}
.secondary-images-wrapper {
  display: flex;
  justify-content: space-around;
}

.info-product-wrapper {
  display: flex;
  /*flex-flow: row wrap;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  justify-content: space-between;
}
.card-content {
  width: 100%
}
.product-name {
  margin-right: 2rem;
  align-self: flex-end;
  margin-bottom: 0px;
}

.product-price {
  margin: 2rem 0;
  align-self: flex-end;
  text-align: center;
}

.addToCart {
  width: 100%;
  margin-top: 3rem;
}

@media (max-width: 1000px) {
  .individual-product-view {
    margin: 2rem 0 0 0;
  }
}

@media (max-width: 770px) {
  .individual-product-view {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .addToCart {
    margin-top: -1rem;
  }
}
