.content table td,
.table.is-bordered th {
  vertical-align: middle;
  text-align: center;
}

.products-table-wrap {
  margin-top: 5rem;
}

#admin-products-table thead tr th abbr {
  text-decoration: none;
}

.thumb {
  width: 48px;
}
.tag.is-danger.out-of-stock {
  width: auto;
  position: inherit;
  margin-bottom: 0;
  margin-left: 0;
}


/* toggle status button */
.react-toggle--checked .react-toggle-track {
  background-color: #248dd8;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #2865c1;
}
.react-toggle--checked .react-toggle-thumb {
  border-color: #248dd8;
}
